<div class="container">

  <!--tweet-->
    <div>
      <%= image_tag("Imagethanos.png") %>
    </div>
    <div>
      <%= @tweet.user.name %>
    </div>
    <div>
      <%= "@" + @tweet.user.username %>
    </div>
    <div>
      <%= time_ago_in_words(@tweet.created_at) + " ago"%>
    </div>
    <div>
      <%= @tweet.body %>
    </div>
    <div>
      <%= @tweet.replies_count || 0 %>
    </div>
    <div>
      <%= @tweet.likes_count || 0 %>
    </div>

    <hr>
    
<!--reply form-->
  <%= form_with model: @new_tweet do |form| %>
    <div>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit %> 
    </div>
  <% end %>

<!--replies list-->
  <% @tweet.replies.each do |tweet| %>
    <div>
      <%= image_tag("Imagedieguito.png") %>
    </div>
    <div>
      <%= tweet.user.name %>
    </div>
    <div>
      <%= "@" + @tweet.user.username %>
    </div>
    <div>
      <%= time_ago_in_words(@tweet.created_at) + " ago"%>
    </div>
    <div>
      <%= tweet.body %>
    </div>
    <div>
      <%= tweet.replies_count %>
    </div>
    <div>
      <%= tweet.likes_count %>
    </div>
  <% end %>
