<div class="container">
        <div class="tweet-card bg-white shadow">
          <div class="content-row mb-8">

            <div>
              <%if @tweet.user.avatar.attached?%>
                  <%=image_tag(@tweet.user.avatar, class: 'imagen en circular tama単o peque単o')%>
              <% else%>
                  <%= image_tag('Imageanonymus.png', class: 'imagen en circular tama単o peque単o')%>
              <% end%>
            </div>

            <div>              
              <div>                
                <div class="content-row">
                  <p class="heading heading--xxs"><%= @tweet.user.name %></p>
                  <%= link_to user_path(@tweet.user), class: 'link' do %>
                    <p><%= "@" + @tweet.user.username %></p>
                  <% end %>
                </div>                  
                <div class="content--sm"><%= time_ago_in_words(@tweet.updated_at) + " ago"%></div>
              </div>              
            </div>

          </div>
          
          <div class="mb-8">
            <%= link_to tweet_path(@tweet), class: 'tweet-body' do %>
              <p><%= @tweet.body %></p>
            <% end %>
          </div>
          
          <div class="content-row space-between">
            <div class="content-row ai-center gap-24">
              <div>
                <%= link_to tweet_path(@tweet), method: :delete do %>
                  <%= image_tag 'Icontrash.svg' %>
                <% end %>
              </div>
              <div>
                <%= link_to edit_tweet_path(@tweet) do %>
                  <%= image_tag 'Iconpencil.svg' %>
                <% end %>
              </div>
            </div>

            <div class="content-row">
              <div class="content-row ai-center">
                <%= link_to tweet_path(@tweet) do %>
                  <%= image_tag 'Iconmessage.svg' %>
                <% end %>
                <%= @tweet.replies_count || 0 %>
              </div>
              <div class="content-row ai-center">
                <%= link_to tweet_likes_path(@tweet), method: :post do %>
                  <% if current_user && current_user.liked_tweets.include?(@tweet) %>
                    <%= image_tag 'Iconlikes_toggle.svg' %>
                  <% else %>
                  <%= image_tag 'Iconlikes.svg' %>
                  <%end%>
                <% end %>
                <%= @tweet.likes.count || 0 %>
              </div>
            </div>
          </div>


        </div>
  <!--tweet-->
    <hr>
    
<!--reply form-->
  <%= form_with model: @new_tweet do |form| %>
      <div class="input__container flex-col bg-white mb-16">
        <%= form.hidden_field :replied_to_id, value: @tweet.id %>
        <%= form.hidden_field :user_id, value: @tweet.user.id %>
        <%= form.text_area :body, placeholder: "Remember to think before you write" , class:'input__content' %>
        <%= form.submit "Tweet", class: 'btn btn--primary ml-auto' %>
      </div>    
  <% end %>
  <!--replies list-->
  <%= render partial: 'shared/tweet_card', locals: { tweets: @tweet.replies } %>
