<%# --------------------------------------------- PROFILE ---------------------------------------------------------------- %>

  <h2 class="heading heading--sm text-center mb-16">Profile</h2>
  

  <div class="profile flex-col align-center">
    <%if @user.avatar.attached?%>
      <div class="profile-cropper">
        <%=image_tag @user.avatar %>
      </div>
    <% else%>
      <div class="profile-cropper">
        <%= image_tag('Imageanonymus.png')%>
      </div>
    <% end%>
    <div class="heading heading--xs"> <%= @user.name %></div>
    <div class="heading-l"><%= "@" + @user.username %></div>
    <div class="content gray-300 mb-8"><%= "Joined on " + I18n.l(@user.created_at, format: '%B %d, %Y') %></div>
  </div>

  <% if @user == current_user %>    
  
  <div class="btn--padding">
    <div class="btn btn--primary btn--small btn--profile  mt-16 mb-16">
    <%= link_to 'Edit Profile', edit_user_registration_path, class:"btn--link"%>
    </div>
  </div>
  <% end %>
  
  <%# ---------------------------------------------NVABAR ---------------------------------------------------------------- %>
  

  <div class="flex gap-16 mb-16 pl-32 pr-32">
    <div class ="navbar__item w-100">
      <%= link_to "Tweets", @user, class: "navbar__link" %>
    </div>
    <div class="navbar__item active w-100">
      <%= link_to "Likes", user_likes_path(@user), class: "navbar__link" %>
    </div>        
  </div>


<%# --------------------------------------------- TWEETS ---------------------------------------------------------------- %>  
    
<%= render partial: "shared/tweet_card", locals: {tweets: @tweets} %>
  