<div>
  <div>
    <h1>Profile</h1>
  </div>

  <div>
    <p><%= image_tag @user.avatar %></p>
    <p><%= @user.username %></p>
    <p><%= "@" + @user.name %></p>
    <p><%= "Joined on " + I18n.l(@user.created_at, format: '%B, %d de %Y') %></p>
    <%= link_to 'Edit Profile', edit_user_registration_path%>
  </div>

  <div>
    <div>
      <h2>Tweets</h2>
      <% @user.tweets.each do |tweet|%>
        <div>
          <%if tweet.user.avatar.attached?%>
              <%=image_tag(tweet.user.avatar, class: 'imagen en circular tama単o peque単o')%>
          <% else%>
              <%= image_tag('Imageanonymus.png', class: 'imagen en circular tama単o peque単o')%>
          <% end%>
          <%= link_to tweet_path(tweet) do %>
            <div>
              <div><%= @user.username + " @" + @user.name %></div>
              <div><%= time_ago_in_words(tweet.updated_at)%></div>
            </div>
            <div>
              <p><%= tweet.body %></p>
            </div>
          <%end%>
          <div>
            <div>
              <%= link_to like_path(tweet), method: :delete do %>
                <%= image_tag 'Icontrash.svg' %>
              <% end %>
            </div>
            <div>
              <%= link_to edit_like_path(tweet), method: :patch do %>
                <%= image_tag 'Iconpencil.svg' %>
              <% end %>
            </div>
            <div>

            </div>
          </div>
        </div>
      <%end%>
      
      <br>
      
      <div>
        <h2><%=link_to 'Likes', user_likes_path(@user)%></h2>
      </div>
  </div>
</div>


