<div class="container flex-col align-center">
  <div>
    <h1>Profile</h1>
  </div>

  <div class="profile flex-col align-center">
    <%= image_tag(@user.avatar, class: "profile-avatar") %>
    <div class="heading heading--xs"> <%= @user.name %></div>
    <div class="heading-l"><%= "@" + @user.username %></div>
    <div class="heading-l"><%= "Joined on " + I18n.l(@user.created_at, format: '%B, %d de %Y') %></div>
  </div>
    <div class="btn btn--primary btn--profile btn--fit-content mt-16">
    <%= link_to 'Edit Profile', edit_user_registration_path, class:"btn--link"%>
    </div>
  </div>

  
      <h2>Tweets</h2>
      <%= render partial: "shared/tweet_card", locals: {tweets: @user.tweets} %>

      
      
      <br>
      
      <div>
        <h2><%=link_to 'Likes', user_likes_path(@user)%></h2>
      </div>
  


