<!DOCTYPE html>
<html>
  <head>
    <title>TweetableTeam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=360px, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-white">
  <div class="container bg-gray-100 shadow border-r">
    <nav id="navbar" class="flex" role="navigation">
      
        <div>
          <%= link_to root_path do %>
            <%= image_tag("logo.png")%>
          <% end %>
        </div>        
        
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <div id="menu">           
            <div class ="justify-center-menu"><%= link_to "Profile", '#', class: "navbar__link justify-center" %></div>
            
              <% if user_signed_in? %>
                <div class="flex  justify-center-menu ">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn--secondary width-85" %>
                </div>
              <% else %>
                <div class="flex  justify-center-menu ">
                <%= link_to 'Login', new_user_session_path, class: "btn auth-btn btn--secondary width-70" %>
                </div>
                <div class="flex  justify-center-menu ">
                <%= link_to 'Sign Up', new_user_registration_path, class: "btn auth-btn btn--primary width-90" %>
                </div>
              <% end %>

          </div>
        </div>
        
    </nav>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    
<%= yield %>
  <div id="footer" class="container flex-col p-16 align-center bg-gray-100">
    <div class="copyright mt-10 content--sm">© 2021 - Codeable Tweetable</div>
    <div class="built-with mt-10 content--sm">Built with ♥ by</div>
    <div class="students mt-10 flex-row gap-12 space-between">
      <div class="student flex-row gap-6 content--xs">
      <%= link_to "https://github.com/aldo9191", class: "link flex-row" do %>
        <div><%= image_tag("linkedin_icon.svg") %></div>
        <div>Aldo Canales</div>
      <% end %>
      </div>
      <div class="student flex-row gap-6 content--xs">
      <%= link_to "https://github.com/dortizp", class: "link flex-row" do %>
        <div><%= image_tag("linkedin_icon.svg") %></div>
        <div>David Ortiz</div>
      <% end %>
      </div>
      <div class="student flex-row gap-6 content--xs">
      <%= link_to "https://github.com/natlines1492", class: "link flex-row" do %>
        <div><%= image_tag("linkedin_icon.svg") %></div>
        <div>Nat Linares</div>
      <% end %>
      </div>
    </div>
    <div class="students mt-10 flex-row gap-12 space-between">
      <%= link_to "https://github.com/rdrg0", class: "link flex-row" do %>
        <div><%= image_tag("linkedin_icon.svg") %></div>
        <p>Rodrigo Arriaran</p> 
      <% end %>
      </div>
  </div>
  </body>
</html>
